.login .el-input {
    margin: 15px 0;

    input {
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        text-align: center;
    }
}

.login .el-alert .el-alert__icon.is-big {
    font-size: 19px;
}

.login .el-alert .el-icon-close {
    display: none;
}

.new-info-wrapper .right input {
    font-size: 18px;
    width: 366px;
    height: 50px;
}

.el-table {
    border-color: rgba(181, 181, 181, 1);

    table {
        border-collapse: collapse;
        // border-color: rgba(181, 181, 181, 1);
    }

    .el-table__header-wrapper {
        border-bottom: 1px solid rgba(181, 181, 181, 1);
    }

    tr {
        // border: 1px solid rgba(181, 181, 181, 1);
        border-color: rgba(181, 181, 181, 1);
    }

    th,
    td {
        height: 50px;
        font-size: 16px;
        text-align: center;
        // border: 1px solid rgba(181, 181, 181, 1);
        border-color: rgba(181, 181, 181, 1);
    }

    th {
        font-weight: bold;
        background: rgba(247, 248, 248, 1);
        color: rgba(89, 87, 87, 1);
    }
}

.el-pagination {

    .btn-prev,
    button,
    li {
        width: 42px;
        height: 32px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(210, 210, 210, 1);
        border-radius: 4px;
        margin-right: 5px;
        font-size: 16px;
        color: rgba(159, 160, 160, 1);
        font-weight: 400;

        &.active {
            background: $rule-blue;
            color: white;
        }

        &:hover:not(.active) {
            color: $rule-blue;
        }
    }

    button {
        padding: 0 10px;
    }

    .el-pager li.active+li {
        border: 1px solid rgba(210, 210, 210, 1);
    }

    &>span:not([class*=suffix]) {
        font-size: 16px;
        color: rgba(159, 160, 160, 1);
        font-weight: 400;

        &>.el-input {
            margin: 0 7px;

            &>input {
                font-size: 16px;
                color: rgba(159, 160, 160, 1);
                font-weight: 400;

                &:focus {
                    border-color: rgba(91, 192, 191, 1);
                    outline-color: rgba(91, 192, 191, 1);

                }
            }
        }
    }
}

//登陆日志
//商品列表
//商品评论
//商品类型
//&-属性列表
//&-参数列表 
//商品分类
//品牌管理
//相册管理
//&-查看相册
//回收站
//订单列表
//订单详情
//确认收货
//退货申请
//退款申请
//退货原因
//发货点
//库存入库
//库存出库
//用户列表
//用户详情
//广告列表
//操作日志
.add-product,
.operation-log,
.ad-list,
.account-detail,
.account-list,
.in,
.out,
.return-detail,
.return-reason,
.return-site,
.refund,
.return,
.receipt,
.order-detail,
.order-list,
.recycle,
.check-pics,
.pics,
.brands,
.types,
.styles,
.property,
.param,
.rating,
.login-log,
.product-list {
    .search-box {
        .el-input {
            width: 209px;

            // height: 38px;
            // background: rgba(255, 255, 255, 1);
            // // border: 1px solid rgba(191, 191, 191, 1);
            // border-radius: 4px;
            &>input {
                // border: 1px solid rgba(191, 191, 191, 1);
                width: 209px;
                height: 38px;
                background: rgba(255, 255, 255, 1);
                // border: 1px solid rgba(191, 191, 191, 1);
                border-radius: 4px;
            }
        }
    }

    .table-header-right {
        .el-input {
            width: 141px;

            &>input {
                border: 1px solid rgba(191, 191, 191, 1);
                width: 141px;
                height: 38px;
                background: rgba(255, 255, 255, 1);
                border-radius: 4px;
            }
        }

    }

    .tag {
        .el-switch__core {
            margin-left: 40px;
        }

        .el-switch__label {
            margin-left: -80px;
        }
    }

    .table-header {
        border: 1px solid rgba(191, 191, 191, 1);
    }

    .el-table {
        border-left: 1px solid rgba(191, 191, 191, 1);
        border-right: 1px solid rgba(191, 191, 191, 1);

        table {

            th,
            td {
                border-right: 1px solid rgba(191, 191, 191, 1);
            }
        }
    }

    footer {
        border: 1px solid rgba(191, 191, 191, 1);
        display: flex;

        .select-all-wrapper {

            // width: 155px;
            // height: 30px;
            // background: rgba(255, 255, 255, 1);
            // border: 1px solid rgba(191, 191, 191, 1);
            // border-radius: 4px;
            .el-input {
                height: 30px;

                &>input {
                    width: 155px;
                    height: 30px;
                    background: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(191, 191, 191, 1);
                    border-radius: 4px;
                }

                span.el-input__suffix {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    //编辑商品
    .el-dialog {
        width: 723px !important;

        .el-dialog__header {
            height: 87px;
            line-height: 57px;
            background: rgba(222, 242, 242, 1);
            // border-radius: 6px;

            .el-dialog__title {
                font-size: 26px;
                font-weight: bold;
                color: rgba(91, 192, 191, 1);
            }
        }

        .el-dialog__body {
            .dialog-searchbar {
                display: flex;
                justify-content: space-between;
                line-height: 40px;
            }

            .edit-product-table {
                margin-top: 20px;
                border-bottom: 1px solid rgba(191, 191, 191, 1);

                &>.el-table {
                    border-top: 1px solid rgba(191, 191, 191, 1);

                    // border-bottom: 1px solid rgba(191, 191, 191, 1);
                    &>th,
                    &>td {
                        border-right: 1px solid rgba(191, 191, 191, 1);

                        &:last-child {
                            border: none;
                        }
                    }

                    .el-input {
                        width: 90px;

                        input {
                            text-align: center;
                            padding: 0 3px;
                        }
                    }
                }
            }
        }

    }
}

// 添加商品
div.add-product {
    .step {
        .el-form {
            .el-form-item__label {
                padding: 0;
            }

            .el-form-item__content {
                margin-left: 140px !important;

                .el-input {
                    height: 42px;

                    input {
                        width: 364px;
                        height: 42px;
                        border-radius: 4px;
                    }
                }

                textarea {
                    width: 364px;
                }

                .row {
                    input {
                        width: 200px;

                        &:nth-child(2) {
                            margin: 0 20px;
                        }
                    }
                }

                .el-checkbox-group {
                    font-size: 14px;
                }

                table {
                    tr {
                        td {
                            .el-input {
                                margin: auto auto;

                                input {
                                    width: 150px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .el-button {
            width: 200px;
            height: 46px;
            // background: rgba(91, 192, 191, 1);
            border-radius: 4px;
        }

        .upload-demo {
            ul {
                display: none;
            }
        }
    }

    .el-dialog {
        p {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
        }

        .product-list-wrapper {
            .main-table {
                span {
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 30px;
                }
            }
        }

        .el-checkbox-group {
            display: flex;
            flex-wrap: wrap;

            .check-item {
                margin: 20px;
                position: relative;

                img {
                    width: 130px;
                    height: 130px;
                }

                .item-operation {
                    .el-checkbox {
                        position: absolute;
                        bottom: 0;

                        .el-checkbox__label {
                            display: none;
                        }
                    }
                }
            }
        }

        footer {
            display: flex;
            justify-content: space-between;
        }
    }
}

//商品评论
.rating {
    .el-table__body-wrapper {
        table {
            td {
                padding: 0;
                height: 50px;
            }
        }
    }
}

//评论详情
.rating-detail {
    .el-form {
        .el-input {
            input {
                width: 366px;
            }
        }

        .el-textarea {
            textarea {
                // width: 965px;
                height: 242px;
            }
        }

        .el-button {
            width: 126px;
            // height: 50px;
            border-radius: 6px;
        }
    }
}

//商品类型 styles
.styles {
    .el-dialog {
        .el-input {
            input {
                width: 500px;
            }
        }
    }
}

//add-property
.add-property {

    .el-input {
        input {
            width: 500px;
        }
    }

    .el-input.input-new-tag {
        input {
            width: 100px;
        }
    }
}

//商品分类
.types {
    .product-list-wrapper {

        .el-table {
            footer {
                display: flex;
                justify-content: flex-end !important;
            }
        }
    }
}

//图片列表
.check-pics {
    .el-checkbox-group {
        .el-checkbox {
            .el-checkbox__label {
                font-size: 0;
            }
        }
    }
}

.el-step {
    .el-step__head.is-process {
        color: #c0c4cc;
        border-color: #c0c4cc
    }

    .el-step__head.is-success {
        color: #5BC0BF;
        border-color: #5BC0BF
    }

    .el-step__head.is-finish {
        color: #5BC0BF;
        border-color: #5BC0BF
    }

    .el-step__title.is-process {
        font-weight: 700;
        color: #c0c4cc
    }

    .el-step__title.is-success {
        color: #c0c4cc
    }

    .el-step__title.is-finish {
        color: #5BC0BF
    }

    .el-step__description.is-process {
        color: #c0c4cc
    }

    .el-step__description.is-success {
        color: #5BC0BF
    }

    .el-step__description.is-finish {
        color: #5BC0BF
    }


}

.return-detail {
    table {
        .el-input {
            input {
                text-align: start !important;
            }
        }
    }
}

.return-reason {
    .el-dialog {
        p {
            input {
                width: 300px;
            }
        }
    }
}

.pay-setting {
    .el-form {
        width: 600px;
    }
}

.el-form {
    .el-form-item__label {
        font-size: 17px;
        font-weight: 400;
        color: rgba(89, 87, 87, 1);
    }

}

.search-box {
    .search-bottom {
        // background: #5BC0BF !important;
        padding: 9px 10px !important;

        &>span,
        &>div {
            margin: 0 5px;
            // flex: 1 !important;
            // width: 250px !important;
        }

        .search-bar {
            // margin: 0 0px !important;
            // width: 180px !important;

            .el-input {
                width: 180px !important;

                input {
                    width: 180px;
                }
            }
        }

        .el-range-editor {
            width: 300px;

            & input:last-of-type {
                margin: 5px;
            }
        }
    }
}

.filter-group {
    display: flex;
    margin-bottom: 20px;

    .search-filter {
        width: 128px;
        height: 38px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(191, 191, 191, 1);
        border-radius: 4px;
        font-size: 15px;
        color: rgba(89, 87, 87, 1);
        line-height: 36px;
        text-align: center;
        margin-right: 26px;

        & span {
            color: #ea5019;
        }
        &:hover{
            cursor: pointer;
            color: #5BC0BF;
            border-color: #5BC0BF;
        }
    }

    .active {
        background: rgba(91, 192, 191, 1);
        border: none;
        color: white !important;

        & span {
            color: white !important;
        }
    }


}

.el-button--primary:focus,
.el-button--primary:hover {
    background: rgba(97, 206, 204, 1);
    border-color: rgba(97, 206, 204, 1);
    color: #fff;
}

//el-upload
.check-pics,
.add-pic,
.add-brand,
// .add-property,
.add-ad,
.account-setting {
    .upload-demo {
        ul {
            display: none;
        }
    }
}
.account-setting {
    .upload-demo {
        margin-top: 20px;
    }
}